:root {
    --primary-color: #4CAF50;
    --secondary-color: #333;
    --text-color: #ffffff;
    --font-size-base: 1rem; 
    --font-size-large: 1.5rem; 
    --font-size-small: 0.875rem; 
    --banner-height: 25rem;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--font-size-base);
    line-height: 1.6;
}

header {
    background-color: var(--primary-color);
    padding: 1.25rem; /* 20px */
    color: var(--text-color);
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 0.625rem; /* 10px */
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: var(--font-size-small);
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ddd; /* Легкий ховер-ефект */
}

h1, h2 {
    margin-top: 1.25rem; /* 20px */
    text-align: center;
    color: var(--primary-color);
}

h1 {
    font-size: var(--font-size-large);
}

h2 {
    font-size: var(--font-size-base);
}

p {
    font-size: var(--font-size-base);
    margin-bottom: 1rem;
    text-align: justify;
}

.banner {
    width: 100%;
    height: var(--banner-height);
    background-color: #f4f4f4;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

section {
    padding: 1.25rem; /* 20px */
    text-align: center;
}

footer {
    background-color: var(--secondary-color);
    color: var(--text-color);
    text-align: center;
    padding: 0.625rem 0; /* 10px */
    margin-top: 1.25rem; /* 20px */
    font-size: var(--font-size-small);
}

.icon {
    font-size: 1.5em;
    color: var(--primary-color);
    margin-right: 0.5em;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.social-icons a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.25rem;
}

.social-icons a:hover {
    color: #ddd;
}
